.SinglePost {
  position: relative;
  /* display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem; */
  padding: 1rem;
}

.single-post-container{
  display: flex;
  column-gap: 10px;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}
